<div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#contact-information" data-toggle="tab">Contact Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#email-us" data-toggle="tab">Email Us</a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
        <div class="card-body tab-pane fade show active" id="contact-information">
          <div class="text-center">
              <h5 class="card-title">Office Address</h5>
              <h6 class="display-5">Jaya Durga Tours & Travels</h6>
              <div class="card-text">
                <div>47, G Car Street, Opp Annapurna Hotel, Tirupati, 517501.</div>
                <div>Ph No. 9848219495, 9100830219.</div>
                <span class="glyphicon glyphicon-email"></span>p.abdulkalam007@gmail.com
              </div>
          </div>
        </div>
        <div class="card-body tab-pane fade" id="email-us">
            <h5 class="card-title text-center">Give us a line..</h5>
            <form action="">
              <div class="form-row justify-content-center mb-2">
                <div class="from-group col">
                  <label for="firstname" class="sr-only">Firstname</label>
                  <input type="text" name="firstname" id="firstname" class="form-control" placeholder="Firstname">
                </div>
                <div class="from-group col">
                    <label for="lastname" class="sr-only">Lastname</label>
                    <input type="text" name="lastname" id="lastname" class="form-control" placeholder="Lastname">
                </div>
              </div>
              <div class="form-row justify-content-center mb-2">
                <div class="form-group col">
                  <label for="email" class="sr-only">Email</label>
                  <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="form-row justify-content-center mb-2">
                  <div class="form-group col">
                    <label for="phonenumber" class="sr-only">Phone Number</label>
                    <input type="text" name="subject" id="phonenumber" class="form-control" placeholder="Phone Number">
                  </div>
                </div>
               <div class="form-row justify-content-center mb-2">
                <div class="form-group col">
                  <label for="content" class="sr-only">Content</label>
                  <textarea name="content" id="content" rows="5" class="form-control"></textarea>
                </div>
               </div>
               <div class="form-row justify-content-center">
                 <div class="form-group col">
                    <button type="submit" class="btn btn-outline-success">Submit</button>
                 </div>
               </div>
            </form>
        </div>
    </div>
  </div>
